.carousel {
    position: absolute;
    width: 100%;
    height: 685px;
    top:-100px;
    overflow:hidden;
    // border: 2px red solid;
 
}

.carousel-slide {
   
    width: 100% ;
    height: 100%;
    object-fit: cover;
   
    
}  

.car-btn-pre {
    position: absolute;
    width:4%;
    top:340px;
    opacity: 0.5;
    cursor: pointer;
    background-color: transparent;
    
}

.car-btn-next {
    position: absolute;
    width:8%;
    top:340px;
    right: 0;
    opacity: 0.5;
    cursor:  pointer;
    background-color: transparent;
}

.car-btn-next:hover {
    opacity: 1;

}

.car-btn-pre:hover {
    opacity:1;
    
}