@use "_header";

@use "_carousel";

@use "_boxDate";

@use "_footer";

@use "_introdusing";

@use "_cards";

@use "_OFF";

@use "_sliderShowRooms";

@use "_TESTIMONIALS";

@use "_scroling";

@use "_button";

body {
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: #f4f4f4;
}





